.person {
  text-align: center;
}

.name {
  margin-bottom: 0;
  letter-spacing: normal;
  text-transform: none;
}

.email {
  margin-bottom: .6rem;
  color: var(--color-purple);
}

.avatar {
  width: 100%;
  margin: 1rem auto;
  img {
    image-rendering: pixelated;
    height: 6.66rem;
  }
}

.description {
  color: var(--color-text-secondary);
  font-size: .8rem;
}