* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-main);
  line-height: 1.420;
}

main {
  padding: var(--spacing-sitepadding);
  min-height: 80vh;
}

a {
  color: inherit;
  text-underline-offset: .4em;
  text-decoration-thickness: 1px;
  text-decoration-style: dashed;

  &:hover {
    color: var(--color-hover);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
}

p {
  max-width: 32em;
}